* {
  background-color: #f1f1f1;
  /* font-size: 50px; */
}


body {
  font-family: Arial, sans-serif;
  padding: .8em;
}

.col {
  height: 5rem;
  width: 100%;
  margin-bottom: .7rem;
  min-width: 1rem;
}

.item1 {
  background-color: red;
  width: 100%;
  height: 100%;
}

.item2 {
  background-color: blue;
  width: 100%;
  height: 100%;
}

.item3 {
  background-color: green;
  width: 100%;
  height: 100%;
}

.item4 {
  background-color: yellow;
  width: 100%;
  height: 100%;
}

@media (min-width: 48rem) {

  /*tablet*/
  .row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  body {
    background-color: #74ff03;
  }

}

@media (min-width: 64rem) {

  /*escitorio*/
  .row {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  body {
    background-color: #ffdd03;
  }

}

@media (min-width: 80rem) {

  /*pantalla grande*/
  .row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  body {
    background-color: #03ffab;
  }

}